.header_input_container {
  position: relative;
  flex-grow: 1;

  .header_input {
    width: -webkit-fill-available;

    height: 42px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 0 30px 0 48px;
    font-size: 17px;
    transition: all ease-in-out 0.2s;
    &:hover {
      border: 1px solid #a4a4a4;
    }
  }
  .search {
    position: absolute;
    background: inherit;
    border: 0px solid black;
    top: 7px;
    left: 5px;
  }
  .close {
    position: absolute;
    background: inherit;
    border: 0px solid black;
    cursor: pointer;
    top: 8px;
    right: 3px;
    padding: 0;
  }
}

@media screen and (max-width: 1000px) {
  .header_input_container {
    flex-grow: 0;
    .header_input {
      width: 100%;
    }
  }
}
