.wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  li {
    &:hover .dropdown {
      visibility: visible;
    }
    a {
      svg {
        fill: black;
      }
    }
    .dropdown {
      position: absolute;
      visibility: hidden;
      background-color: white;
      border: 1px solid #e0e0e0;
      border-radius: 5px;
      right: 0;
    }
  }
}
