.link_container {
  margin: 0;
  padding: 0;
  .link_flex {
    display: flex;
    align-items: center;
    .link {
      width: 138px;
      cursor: pointer;
      padding: 8px 16px;
      &:hover {
        background-color: #e0e0e0;
      }
    }
  }
}

.navigation_link_item {
  position: relative;
  padding: 15px;
  color: #fff;
  cursor: pointer;

  &:hover .dropdown_content {
    display: block; /* Показываем выпадающий список при наведении */
  }
}
