.header_nav_links {
  display: flex;
  align-items: center;
  nav {
    display: flex;
    .nav_link {
      position: relative;
      margin-right: 20px;
      &:hover .dropdown {
        visibility: visible;
      }
      a {
        font-size: 18px;
        color: black;
      }
      .dropdown {
        position: absolute;
        visibility: hidden;
        background-color: white;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        right: 0;
      }
    }
  }
}
