.customSwiperButtonNext,
.customSwiperButtonPrev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.3s;
}

.customSwiperButtonNext {
  right: 25px;
}

.customSwiperButtonPrev {
  left: 25px;
}
.customButtons {
  border-radius: 20px;
  z-index: 1;
  div {
    &::after {
      color: black;
      font-size: 35px;

      border-radius: 50%;
    }
  }
}

.root {
  border-radius: 25px;
  z-index: 1;
  height: 384px;
  .swiperButtonNext,
  .swiperButtonPrev {
    display: none;
  }

  .root_slider {
    height: 384px;

    .slider_link {
      height: 100%;

      .slider_img {
        border-radius: 25px;
        width: 100%;
        height: 100%;

        object-fit: contain;
      }
    }
  }
}
