.dropdown_container {
  max-width: 920px;
  padding: 16px 0 32px 0;
  height: 200px;
  margin: 0px auto;
  max-height: 250px;
  .dropdown_wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5, 1fr);
    -webkit-box-pack: center;
    justify-content: center;
    list-style-type: none;
    &.brands_wrapper {
      display: grid;
      gap: 30px;
      grid-template-columns: repeat(3, 1fr);
      -webkit-box-pack: center;
      justify-content: center;
      list-style-type: none;
    }
    .dropdown_flex_column_wrapper {
      display: flex;
      text-align: start;
      flex-direction: column;

      gap: 20px;
      .title {
        a {
          color: black;
          border-bottom: 0px solid black;
          &:hover {
            border-bottom: 1px solid black;
          }
        }
      }
      .dropdown_sublink_main_wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        list-style-type: none;
        margin-inline: 0px;
        padding-inline: 0px;
        overflow: auto;
        .sublink {
          margin: 5px 0;
          a {
            color: black;
            border-bottom: 0px solid black;
            &:hover {
              border-bottom: 1px solid black;
            }
          }
        }
        &.threecolumn {
          grid-template-columns: repeat(5, 1fr);
          max-width: 200px;
          margin-inline: 0px;
          padding-inline: 0px;
          .sublink {
            max-width: 5px;
            a {
              color: black;
              border-bottom: 0px solid black;
              &:hover {
                border-bottom: 1px solid black;
              }
            }
          }
        }
      }
      .dropdown_sublink_wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        list-style-type: none;
        margin-inline: 0px;
        padding-inline: 0px;
        overflow: auto;
        .sublink {
          margin: 5px 0;
          a {
            color: black;
            border-bottom: 0px solid black;
            &:hover {
              border-bottom: 1px solid black;
            }
          }
        }
      }
    }
  }
}
