.header {
  border-bottom: 1px solid #e0e0e0;
  font-family: "proxima-nova", sans-serif;

  .header_container {
    max-width: 3000px;

    margin: 0 35px;
    .header_wrapper {
      display: flex;
      align-items: center;
      height: 90px;
      gap: 26px;
      &.active {
        gap: 30px;
      }
    }
  }
}
