.header {
  border-bottom: 1px solid #e0e0e0;
  font-family: "proxima-nova", sans-serif;
  background-color: white;
  z-index: 20;
  .header_container {
    margin: 0 35px;
    .header_wrapper {
      display: flex;
      align-items: center;
      height: 90px;
      gap: 26px;
      &.active {
        gap: 30px;
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .header {
    .header_container {
      margin: 0px 25px;
    }
  }
}
@media screen and (max-width: 900px) {
  .header {
    .header_container {
      margin: 0px 15px;
      .header_wrapper {
        gap: 10px;
      }
    }
  }
}

@media screen and (max-width: 748px) {
  .header {
    .header_container {
      
      .header_wrapper {
        
        gap: 26px;
        justify-content: space-between;
        svg {
          cursor: pointer;
        }
      }
    }
  }
}
