.nav_header {
  background-color: whitesmoke;
  position: relative;
  z-index: 5;

  &::-webkit-scrollbar {
    height: 3px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
  }

  .wrapper_nav_header {
    .flex_nav_header {
      display: flex;
      height: 48px;
      justify-content: center;
      text-align: center;
      align-items: center;
      margin: 0;
      padding: 0;
      .navheader_links {
        display: flex;
        position: relative;
        align-items: center;
        font-size: 18px;
        font-weight: 550;
        height: 100%;
        padding: 0 8px;
        cursor: pointer;

        &:hover {
          .header_navigation_item_line {
            width: 100%;
          }
        }

        a {
          color: black;
          text-align: center;
          opacity: 0.8;
        }
      }

      .sub_navigation {
        position: absolute;
        visibility: hidden;
        display: none;
        width: 100%;
        max-height: 500px;

        background-color: white;
        color: black;
        top: 100%;
        box-shadow:
          inset 0em 0.1em rgb(232, 232, 232),
          0 4px 6px rgba(0, 0, 0, 0.1);

        &.active {
          visibility: visible;
          display: block;
        }
      }
    }
  }
}

.header_navigation_item_line {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  background-color: black;
  transform: translateX(-50%);
  transition: width 0.6s ease;
  &.active {
    width: 100%;
  }
}

@media screen and (max-width: 920px) {
  .nav_header {
    .wrapper_nav_header {
      .flex_nav_header {
        .navheader_links {
          a {
            font-size: 15px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .nav_header {
    width: 100%;
    .wrapper_nav_header {
      width: 100%;
      .flex_nav_header {
        width: 100%;
        .navheader_links {
          a {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 770px) {
  .nav_header {
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;

    .wrapper_nav_header {
      .flex_nav_header {
        width: max-content;
        .navheader_links {
          a {
            font-size: 14px;
          }
        }
      }
    }
  }
}
