.nav_header {
  background-color: whitesmoke;
  position: relative;
  z-index: 5;
  .wrapper_nav_header {
    .flex_nav_header {
      display: flex;
      height: 48px;
      justify-content: center;
      text-align: center;
      align-items: center;
      margin: 0;
      padding: 0;
      .navheader_links {
        display: flex;
        position: relative;
        align-items: center;
        font-size: 18px;
        font-weight: 550;
        height: 100%;
        padding: 0 8px;
        cursor: pointer;

        &:hover {
          .header_navigation_item_line {
            width: 100%;
          }
        }

        a {
          color: black;
          text-align: center;
          opacity: 0.8;
        }
      }

      .sub_navigation {
        position: absolute;
        visibility: hidden;
        display: none;
        width: 100%;
        max-height: 500px;

        background-color: white;
        color: black;
        top: 100%;
        box-shadow: inset 0em 0.1em rgb(232, 232, 232);
        border-bottom: 1px solid rgb(232, 232, 232);

        &.active {
          visibility: visible;
          display: block;
        }
      }
    }
  }
}

.header_navigation_item_line {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  background-color: black;
  transform: translateX(-50%);
  transition: width 0.6s ease;
  &.active {
    width: 100%;
  }
}
